$ff_montserrat:Montserrat !important;

$like_black:#2D2D2D;
$black:#000000;
$grey:#DADADA;
$white:white;


$none:none;
$flex:flex;
$inline-block:inline-block;
$hidden:hidden;

$z-index:1000;
$null: 0;
$percentage:100%;

$center:center;

$w_h_150:150px;
$w_h_20px:20px !important;
$fs_20px:20px;
$fs_25px:20px;
